# Homework 1

## Problem 1

In [1]:
# import dataset
import pandas as pd
bnd_df = pd.read_csv('BND_HW1.csv', skiprows = 2, index_col='Date', parse_dates=True)
bnd_df.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
# bnd_df.drop(labels=['Volume','High','Low','Open'], axis=1, inplace=True)
spy_df = pd.read_csv('SPY_HW1.csv', skiprows = 2, index_col='Date', parse_dates=True)
spy_df.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
# spy_df.drop(labels=['Volume','High','Low','Open'], axis=1, inplace=True)
# merge two datasets
spy_df = spy_df[["Open", "Close", "Adj Close"]].rename(
    columns={"Open": "SPY_Open", "Close": "SPY_Close", "Adj Close": "SPY_AdjClose"}
)
bnd_df = bnd_df[["Open", "Close", "Adj Close"]].rename(
    columns={"Open": "BND_Open", "Close": "BND_Close", "Adj Close": "BND_AdjClose"}
)
df_merge = df = spy_df.join(bnd_df, how="left")
df_merge.dropna(inplace=True)
# Display the first 10 rows of the merged dataframe
df_merge.head(10)

,SPY_Open,SPY_Close,SPY_AdjClose,BND_Open,BND_Close,BND_AdjClose
Date,,,,,,
2007-04-10,144.330002,144.610001,102.661606,75.070000,75.239998,42.452061
2007-04-11,144.820007,144.020004,102.242813,75.160004,75.040001,42.339207
2007-04-12,143.740005,144.660004,102.697136,75.059998,75.029999,42.333561
2007-04-13,144.899994,145.320007,103.165710,75.040001,74.910004,42.265831
2007-04-16,145.830002,146.699997,104.145370,74.989998,74.980003,42.305336
2007-04-17,146.970001,147.089996,104.422218,75.160004,75.169998,42.412533
2007-04-18,146.600006,147.270004,104.550041,75.250000,75.309998,42.491554
2007-04-19,146.550003,147.229996,104.521629,75.360001,75.279999,42.474617
2007-04-20,148.220001,148.619995,105.508369,75.300003,75.260002,42.463333
2007-04-23,148.369995,148.059998,105.110825,75.279999,75.360001,42.519730

In [2]:
# Display set of summary statistics for the merged dataframe
df_merge.describe()

,SPY_Open,SPY_Close,SPY_AdjClose,BND_Open,BND_Close,BND_AdjClose
count,4636.000000,4636.000000,4636.000000,4636.000000,4636.000000,4636.000000
mean,261.688874,261.730785,236.241531,79.926544,79.923108,61.619488
std,142.451800,142.494156,149.989426,4.499470,4.497881,9.100418
min,67.949997,68.110001,50.231041,68.080002,68.040001,41.627312
25%,140.647495,140.804996,106.392517,76.647501,76.639999,56.673463
50%,211.925003,212.059998,180.162766,80.940002,80.949997,62.988148
75%,371.537498,371.362488,352.325661,83.262501,83.260002,68.139956
max,653.619995,652.210022,652.210022,89.550003,89.480003,77.063667

## <mark> Problem solution summary: <mark>

For the above questions in **problem 1**, we load the data from the two CSV files into pandas dataframes. We then select the relevant columns (Open, Close, and Adj Close) and rename them to indicate which asset they belong to (SPY or BND). After that, we merge the two dataframes on the Date index using a left join to ensure we keep all dates from the SPY dataframe. Finally, we display the first 10 rows of the merged dataframe and provide a summary of statistics for all columns in the merged dataframe.

## Problem 2

In [3]:
# Load data
bnd_df = pd.read_csv('BND_HW1.csv', skiprows = 2, index_col='Date', parse_dates=True)
bnd_df.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

### Problem 2.a

In [4]:
# Display the 1000th row of the dataframe
bnd_df.iloc[999]

Adj Close        53.204727
Close            80.180000
High             80.389999
Low              80.120003
Open             80.360001
Volume       727400.000000
Name: 2011-03-25 00:00:00, dtype: float64

### Problem 2.b

In [5]:
# Display the row of the dataframe corresponding to 6/4/2010
bnd_df.loc[['2010-06-04']]

            Adj Close      Close       High        Low   Open   Volume
Date
2010-06-04  51.773491  80.339996  80.470001  80.239998  80.32  2046300

### Problem 2.c

In [6]:
# Display the closing price on 6/4/2010
print(f"${bnd_df.loc[['2010-06-04']]['Close'].values[0]:.2f}")

$80.34

### Problem 2.d

In [7]:
# Display the first 5 days of open, close, and adjusted close prices from the year 2010
bnd_df_2010 = bnd_df[['Open', 'Close', 'Adj Close']].loc['2010-01-01':'2010-12-31']
bnd_df_2010.head(5)

                 Open      Close  Adj Close
Date
2010-01-04  78.599998  78.680000  49.940186
2010-01-05  78.889999  78.910004  50.086182
2010-01-06  78.970001  78.879997  50.067108
2010-01-07  78.720001  78.820000  50.029060
2010-01-08  78.879997  78.900002  50.079849

### Problem 2.e

In [8]:
# Display the average close and adjusted close prices on the days in which the BND close was greater than $85
bnd_df_filtered = bnd_df[bnd_df['Close'] > 85]
average_close = bnd_df_filtered['Close'].mean()
average_adj_close = bnd_df_filtered['Adj Close'].mean()
print(f"Average Close Price: ${average_close:.2f}")
print(f"Average Adjusted Close Price: ${average_adj_close:.2f}")

Average Close Price: $86.80
Average Adjusted Close Price: $74.76

## <mark> Problem solution summary: <mark>

From the above questions in **problem 2**, we load the BND data from the CSV file into a pandas dataframe. We then perform various operations to extract specific rows and values based on the given criteria. We use iloc to access the 1000th row, loc to access rows by date, and boolean indexing to filter rows where the closing price is greater than $85. Finally, we calculate and display the average close and adjusted close prices for the filtered rows.

## Problem 3

In [9]:
# Load data
spy_df = pd.read_csv('SPY_HW1.csv', skiprows = 2, index_col='Date', parse_dates=True)
spy_df.columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

### Problem 3.a

In [10]:
import numpy as np
# Compute the daily returns over the daytime period (open-to-close) of SPY and add them as a new column to the dataframe
spy_df['Daily Return (open-to-close)'] = np.log(spy_df['Close'] / spy_df['Open'])
# Compute the daily returns over the nighttime period (close-to-open) of SPY and add them as a new column to the dataframe
spy_df['Daily Return (close-to-open)'] = np.log(spy_df['Open'] / spy_df['Close'].shift(1))
# Display the average of the two daily return series
average_open_to_close = spy_df['Daily Return (open-to-close)'].mean()
average_close_to_open = spy_df['Daily Return (close-to-open)'].mean()
print(f"Average Daily Return (open-to-close): {average_open_to_close * 100:.4f}%")
print(f"Average Daily Return (close-to-open): {average_close_to_open * 100:.4f}%")

Average Daily Return (open-to-close): 0.0028%
Average Daily Return (close-to-open): 0.0300%

### Problem 3.b

In [11]:
# Compute the average full-day return using close-to-close prices
spy_df['Full-Day Return (close-to-close)'] = np.log(spy_df['Close'] / spy_df['Close'].shift(1))
average_full_day_return = spy_df['Full-Day Return (close-to-close)'].mean()
# Display the average full-day return
print(f"Average Full-Day Return (close-to-close): {average_full_day_return * 100:.4f}%")

Average Full-Day Return (close-to-close): 0.0329%

### Problem 3.c

In [12]:
# Compute the average full-day return using adjusted close-to-adjusted close prices
spy_df['Full-Day Return (adj close-to-adj close)'] = np.log(spy_df['Adj Close'] / spy_df['Adj Close'].shift(1))
average_full_day_return_adj = spy_df['Full-Day Return (adj close-to-adj close)'].mean()
# Display the average full-day return using adjusted close prices
print(f"Average Full-Day Return (adj close-to-adj close): {average_full_day_return_adj * 100:.4f} %")

Average Full-Day Return (adj close-to-adj close): 0.0400 %

## <mark> Problem solution summary: <mark>

From the above questions in **problem 3**, we load the SPY data from the CSV file into a pandas dataframe. We then compute the daily log returns for both the daytime (open-to-close) and nighttime (close-to-open) periods by using numpy.log. We also apply the same method to compute the full-day log returns using both close-to-close prices and adjusted close-to-adjusted close prices. Finally, we calculate and display the average returns for each of these periods.

### Problem 3.d

The difference between close-to-close returns (using the raw closing price) and adjusted close-to-adjusted close returns arises because _**the adjusted close accounts for dividends, stock splits, and other adjustments**_. The regular close price only reflects the last traded price of the day, while the adjusted close price back-adjusts the historical series to ensure returns are measured on total-return basis.